@font-face {
	font-family: "Playfair Display";
	src: url(../Font/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Playfair Display";
	color: #404040;
	background-color: #F2EFE9;
}

.flex {
	display: flex;
}

.header {
	height: 20vh;
	width: 100%;
	background-color: #c4eef2;
	margin: 0;
}

.logo {
	width: 20%;
	justify-content: center;
}
.logo > img {
	max-width: 100%;
	max-height: 100%;
}

nav {
	width: 80%;
	font-size: 36px;
}

nav > ul {
	list-style-type: none;
	justify-content: space-around;
	height: 100%;
	margin: 0 auto;
	align-items: center;
}

nav > ul > li {
	align-items: center;
}

nav > ul > li > a {
	display: block;
	padding: 2vh 50px;
	color: #404040;
	background-color: #f27289;
	border: solid #c4eef2 0px;
	border-radius: 20px;
}

nav > ul > li > a:link {
	text-decoration: none;
}

nav > ul > li > a:hover {
	background-color: #ec4c69;
}

nav > ul > li > a:active {
	background-color: #ec4c69;
}
span{
	color: #F285AD;
}

/*Index*/
.index {
	width: 100%;
	margin: 0;
}
.wrapper {
	background-image: url(../images/background.jpg);
	background-size: cover;
	position: relative;
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;

}
.wrapper-text {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.wrapper-text h1{
	font-size: 80px;
}
.wrapper-text p{
	font-size: 50px;
}
.about{
	display: flex;
	justify-content: center;
	font-size: 48px;
}
.column{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	width: 50%;
	margin: 2rem auto 0 auto;
	background-color: #F285AD;
}
.column img{
	height: 400px;

}
.text h3{
	margin: 0;
	font-size: 32px;
	text-align: center;
}
.text p{
	margin-right: 15px;
	text-align: center;
}


